Repository ChrisDemahy/chrisdemahy.github.io, changes with the labels that .github/labeler.yaml gives for each.
All labels: Test, GithubActions, Sass, Assets, Layouts, includes, VSCode

✅ Test Pull Request labeler
  .vscode/.keep
  spec/.keep
Labels: Test, VSCode

Delete jekyll.yml
  .github/workflows/jekyll.yml
Labels: GithubActions

Delete jekyll.yml
  .github/workflows/jekyll.yml
Labels: GithubActions

Delete label.yml
  .github/workflows/label.yml
Labels: GithubActions

⚙️ Github Actions - Cleaned Up Config
  .github/workflows/Test.yml
Labels: GithubActions

⚙️ Github Actions Fixing Ci
  .github/workflows/Test.yml
Labels: GithubActions

⚙️ Github Actions Fixing Ci
  .github/workflows/Test.yml
Labels: GithubActions

🎨 Nav Bar Design and Fixing
  .github/workflows/Test.yml
  .vscode/chrisdemahy.github.io.code-workspace
  .vscode/settings.json
  Gemfile
  Gemfile.lock
  Rakefile
  _config.yml
  _includes/navigation.html
  _layouts/default.html
  _sass/navigation.scss
  about.md
  assets/css/main.scss
  assets/icons/logo.svg
  assets/js/theme.js
  blog.md
  contact.md
  projects.md
Labels: GithubActions, Sass, Assets, Layouts, includes, VSCode

🔧 Fixed double class tags
  _config.yml
  _includes/navigation.html
Labels: includes

Github actions
  .github/workflows/Test.yml
Labels: GithubActions

⚙️Github Actions Stuff
  .github/workflows/Test.yml
Labels: GithubActions

.github/labeler.yaml:

# Add 'label1' to any changes within 'example' folder or any subfolders
# label1:
#     - example/**/*
Test:
    - spec/**/*

GithubActions:
    - .github/**/*

Sass:
    - _sass/**/*

Assets:
    - assets/**/*

Layouts:
    - _layouts/**/*

includes:
    - _includes/**/*

VSCode:
    - .vscode/**/*
